@font-face {
  font-family: "Proxima-Nova";
  src: url('/static/fonts/Proxima/ProximaNova-Semibold-webfont.woff') format('woff'),
       url('/static/fonts/Proxima/ProximaNova-Semibold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Proxima-Nova";
  src: url('/static/fonts/Proxima/ProximaNova-Regular-webfont.woff') format('woff'),
       url('/static/fonts/Proxima/ProximaNova-Regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}