#header-logo {
    width: 40px;
    height: 40px;
    background-image: url(/static/img/eye.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: inline-block;
}
#header-logo-text {
    font-size: 25pt;
    color: #FEAA20;
    display: inline-block;
}

.hidden {
    display: none;
}

#logo-large {
    height: 230px;
    width: 55%;
    margin: 0 auto;
    background-image: url(/static/img/logo.svg);
    background-position: bottom center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-top: -80px;
}
#logo-subtext {
    text-align: center;
    padding: 10px;
    font-size: 25pt;
}


#header {
    padding: 15px;
    width: 100vw;
    height: 70px;
    border: 2px solid #f4f4f4;
    background-color: #FFF;
    #header-inner {
        max-width: 1150px;
        margin: 0 auto;
    }
}

#landing-content {
    max-width: 600px;
    margin: 0 auto;
    height: 525px;
    margin-top: calc(50vh - 250px);
    border: 2px solid rgba(0, 0, 0, .1);
    padding: 25px;
    background-color: white;
}

#landing-content-inner {
    max-width: 340px;
    margin: 0 auto;
    form {
        input, .button {
            width: 100%;
        }
        .button {
            margin-top: 20px;
        }
    }
}

.page-message__text {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    display: inherit;
}
.page-message {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

#diff-container {
    min-height: 100px;
    max-width: 1000px;
    margin: 15px;
    background-color: #FFF;
    padding: 15px;
}

#diff {
    padding: 20px;
    font-family: monospace;
}

.diff-line {
    &.plus {
        background-color: rgba(111,184,36, .2);
    }
    &.minus {
        background-color: rgba(235, 38, 73, .2);
    }
}
