{% extends "base.html" %}

{% block headscripts %}
<style>
  body {
    background-color: rgba(249, 203, 130, .1);
  }
</style>
{% endblock headscripts %}

{% block content %}
<div class="clearfix" style="margin-left: 15px;">
    &nbsp;&nbsp;<p class="text-2">{{page.name}}</p>
    &nbsp;&nbsp;<a href="{{page.url}}">Link</a>
    &nbsp;&nbsp;<p class="text-4">{{page.created_at}}</p>
</div>
<div class="clearfix" id="diff-container">
    <dif id="diff">
        {% for type, line in diff %}
            <p class="diff-line {{type}}">{{line}}</p>
        {% endfor %}
    </dif>
</div>
{% endblock content %}