{% extends "base.html" %}

{% block header %}{% endblock header %}

{% block headscripts %}
<style>
  body {
    background-color: rgba(249, 203, 130, .1);
  }
</style>
{% endblock headscripts %}


{% block content %}
<!-- START HEADER SPACE -->
<div class="page-message hidden" id="landing-messaging">
  <div class="page-message__text" id="landing-messaging-body">This message is dismissible.</div>
</div>
<!-- END HEADER SPACE-->

<div class="clearfix" id="landing-content">
  <div class="logo" id="logo-large"></div>
  <p class="text-1" id="logo-subtext">Keep an eye on what they're saying.</p>
  <br>
  <div id="landing-content-inner">
    <form id="submission-form" method="POST" action="{% url 'submission_endpoint' %}">
        {% csrf_token %}
        <label class="form-label">Enter a URL:</label>
        <input type="text" class="text-input" placeholder="e.g. http://www.hillaryclinton.com" name="url" autofocus>

        <div class="xs-pt3">
        <label class="form-label">Email address to send changes:</label>
        <input type="text" class="text-input" placeholder="your-email@example.com" name="email">
        </div>

        <div class="clearfix xs-pb2">
        <button class="button" type="submit">Get Notified of Changes</button>
        </div>
    </form>
  </div>
</div>
{% endblock content %}

{% block endscripts %}
<script>
    var makeMessage = function(response) {
        var message = 'Success! You\'re tracking '
        if (response.name !== '') {
            message = message + response.name + '. '
        } else {
            message = message + 'a new page. '
        }
        message = message + 'You\'ll receive an email when updates are made.'
        return message;
    }

    var successBanner = function(response) {
        var message = makeMessage(response)

        var messaging = document.getElementById('landing-messaging')
        messaging.classList.add('page-message--success')
        document.getElementById('landing-messaging-body').innerHTML = message;
        messaging.classList.remove('hidden')

        setTimeout(function(){
            messaging.classList.remove('page-message--success')
            messaging.classList.add('hidden')
        }, 5500);
    }
    // grab form
    var form = document.getElementById('submission-form')

    // set aside csrf token
    var csrf_token = form[0].value
    form[0].remove()

    form.onsubmit = function (e) {
      // stop the regular form submission
      e.preventDefault();

      // collect the form data while iterating over the inputs
      var data = {};
      for (var i = 0, ii = form.length; i < ii; ++i) {
        var input = form[i];
        if (input.name) {
          data[input.name] = input.value;
        }
      }
      console.log(data)

      // construct an HTTP request
      var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHTTP");
      xhr.open(form.method, form.action, true);
      xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
      xhr.setRequestHeader('X-CSRFToken', csrf_token);
      xhr.withCredentials = true;
      // send the collected data as JSON
      xhr.send(JSON.stringify(data));

      xhr.onloadend = function () {
        var response = JSON.parse(xhr.response)
        if (response.success) {
            successBanner(response)
            for (var i = 0, ii = form.length; i < ii; ++i) {
              form[i].value = ''
            }
        } else {
            failureBanner()
        }
      };
    };
</script>
{% endblock endscripts %}