<section className="clearfix xs-border-bottom-lighter xs-px2 xs-py2" id="header">
    <div className="col xs-col-3 flexbox-center">
    <div id="header-logo"></div>
    <p className="xs-inline text-gray text-2 bold xs-pl1" id="header-logo-text">OTUS</p>
    </div>
</section>