{% load staticfiles %}
<html>
    <head>
        <title>
        {% block title %}Otus | {% endblock title %}{% block section_name %}Keep an Eye Out{% endblock section_name %}
        </title>

        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">

        <link rel="shortcut icon" href='{% static "img/favicon.ico" %}' type="image/x-icon" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Keep an eye out.">

        <link rel="stylesheet" href="" crossorigin="anonymous">
        <link href='{% static "styles/css/animate.css" %}' rel='stylesheet' type='text/css'>
        <link href='{% static "styles/css/main.css" %}' rel='stylesheet' type='text/css'>
        {% block headscripts %}{% endblock headscripts %}
    </head>

    <body class="mx-auto">
        {% block header %}
        {% include 'partials/header.html' %}
        {% endblock header %}
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>

        {% block endscripts %}{% endblock endscripts %}
    </body>
</html>